<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle Front Controller...
    RewriteRule ^(.*) index.php [L]
    RewriteRule ^(.*)\.phar$ - [F]

    # Disable indexing
    Options -Indexes
    IndexIgnore *
    DirectoryIndex index.php

    # Forbidden Files
    <FilesMatch "^index\.php$">
        Allow from all
    </FilesMatch>

    
</IfModule>